Repository VaidhyaMegha/primes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MandarapuMadhulatha, @sandeepkunkunuru, @vinod-dega

.github/CODEOWNERS:

# Default owners for everything in the repo
* @MandarapuMadhulatha @sandeepkunkunuru @vinod-dega

# Frontend code ownership
/frontend/ @MandarapuMadhulatha @sandeepkunkunuru

# Python implementation ownership
*.py @MandarapuMadhulatha @sandeepkunkunuru

# Documentation ownership
/docs/ @MandarapuMadhulatha @sandeepkunkunuru
*.md @MandarapuMadhulatha @sandeepkunkunuru

# GitHub specific files
.github/ @vinod-dega

docs: add implementation of AKS primality test, initial project documentation and setup files
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/algorithms/aks.md
  examples/basic_usage.py
  examples/step_by_step_aks.py
  requirements.txt
  setup.py
  src/primes.egg-info/PKG-INFO
  src/primes.egg-info/SOURCES.txt
  src/primes.egg-info/dependency_links.txt
  src/primes.egg-info/requires.txt
  src/primes.egg-info/top_level.txt
  src/primes/__init__.py
  src/primes/__pycache__/__init__.cpython-312.pyc
  src/primes/aks/__init__.py
  src/primes/aks/__pycache__/__init__.cpython-312.pyc
  src/primes/aks/__pycache__/core.cpython-312.pyc
  src/primes/aks/core.py
  src/primes/utils/__init__.py
  src/primes/utils/__pycache__/__init__.cpython-312.pyc
  src/primes/utils/__pycache__/math_utils.cpython-312.pyc
  src/primes/utils/__pycache__/polynomial.cpython-312.pyc
  src/primes/utils/math_utils.py
  src/primes/utils/polynomial.py
  tests/__init__.py
  tests/test_aks.py
  tests/test_integration.py
  tests/test_utils.py
Owners: @MandarapuMadhulatha, @sandeepkunkunuru, @vinod-dega

chore: update license copyright year and names
  CODE_OF_CONDUCT.md
  Dockerfile
  LICENSE
Owners: @MandarapuMadhulatha, @sandeepkunkunuru, @vinod-dega

fix: update polynomial modulo test with correct modular arithmetic result
  tests/test_integration.py
  tests/test_utils.py
Owners: @MandarapuMadhulatha, @sandeepkunkunuru

chore: upgrade GitHub Actions and switch to build module for PyPI publishing
  .github/workflows/publish-python-package.yml
  .gitignore
  setup.py
Owners: @vinod-dega, @MandarapuMadhulatha, @sandeepkunkunuru

chore: rename package to number-theory-primes and bump version to 0.1.2
  setup.py
Owners: @MandarapuMadhulatha, @sandeepkunkunuru
